@import "base/normalize.css";
html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif !important;
}

.hide {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: grid;
  grid-gap: 15px;
  padding: 10px;
  grid-template-columns: 5fr 4fr;
  background: #fff;
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -1px;
  left: 0;
  width: 100%;
  background: #333;
  z-index: 2;
}
.header__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.btn-come-back {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 30px;
}
.btn-come-back svg {
  width: 15px;
  height: 15px;
}

.btn-come-back.hide {
  display: none;
}

.header-homer {
  height: 200%;
  width: auto;
  margin-right: 20px;
}
.header-homer-wrap {
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}
.header-homer-wrap.hide {
  display: none;
}

.header__chat-name {
  margin: 0;
  font-size: 1.1rem;
  font-family: "La Belle", "Aurore", cursive;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.header__chat-name span {
  color: #ef314c;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-transform: none;
  font-style: italic;
  display: block;
  margin-top: 5px;
}
.header__chat-name.hide {
  display: block;
}

.header-user-wrap {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-avatar_wrap {
  margin-right: 10px;
}

.header__status {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__status svg {
  width: 20px;
  height: 20px;
}
.header__status .status_online svg g circle {
  fill: #71bf23;
}
.header__status .status_offline svg g circle {
  fill: #ef314c;
}
.header__status.hide {
  display: none;
}

.contacts-card__user-name_in-header {
  color: #333;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  margin-left: 10px;
}

@media (min-width: 996px) {
  .header {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 7fr 10fr;
    grid-gap: 26px;
    align-items: center;
    background: #61BCFA;

    border-left: 1px solid #333;
    border-right: 1px solid #333;
  }

  .btn-come-back {
    display: none;
  }

  .header-homer {
    margin-left: 20px;
  }
  .header-homer-wrap.hide {
    display: flex;
  }

  .header-avatar_wrap {
    margin-right: 15px;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.main {
  overflow-x: hidden;
  padding-top: 60px;
}

@media (min-width: 996px) {
  .main {
    height: calc(100vh - 60px);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 0;
    display: grid;
    grid-template-columns: 40% 60%;
    border-right: 1px solid #333;
  }
}
.contacts {
  height: calc(100vh - 60px);
  overflow-y: auto;

}

.contacts-card {
  height: 60px;
  padding: 15px 20px;
  border-bottom: 1px solid #333;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contacts-card__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts-card__info-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-card__info-items:last-child {
  margin-top: 6px;
}
.contacts-card__info-items:empty {
  display: none;
}
.contacts-card:hover {
  background: #f1f1f1;
}

.contacts-card__user-name {
  color: #333;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.contacts-card__status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contacts-card__status svg {
  width: 20px;
  height: 20px;
}
.contacts-card__status .status_online svg g circle {
  fill: #71bf23;
}
.contacts-card__status .status_offline svg g circle {
  fill: #ef314c;
}

.contacts-card__last-message,
.contacts-card__time-last-message {
  color: #bbb;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.contacts-card__last-message {
  max-width: 210px;
  height: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.contacts-card__time-last-message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 5px;
  min-width: 87px;
}

@media (min-width: 996px) {
  .contacts {
    border-left: 1px solid #333;
  }

  .contacts.hide {
    display: block;
  }

  .contacts-card__user-name_in-header {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.messages {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background: center url(https://htmlcolors.com/gradients-images/35-pushcrew-color-gradient.jpg);
  position: relative;
  overflow-y: auto;
}
.messages::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(193, 193, 193, 0.7);
}
.messages.hide {
  display: none;
}

.messages-text {
  height: 100%;
  overflow: auto;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 50px;
}
.messages-text_inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.messages-preloader {
  display: none;
  overflow: hidden;
}

.my-message-wrap, .friend-message-wrap {
  display: flex;
  overflow: hidden;
}
.my-message-wrap .container-inline, .friend-message-wrap .container-inline {
  border-radius: 8px;
  background: #e0ffc1;
  padding: 10px;
  position: relative;
  margin-left: auto;
  min-width: 43px;
  height: max-content;
}
.my-message-wrap .container-inline::before, .friend-message-wrap .container-inline::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-top-color: #e0ffc1;
  position: absolute;
  right: -19px;
  bottom: 4px;
  transform: rotate(-89deg);
}
.my-message-wrap p, .friend-message-wrap p {
  color: #333;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 20px;
}
.my-message-wrap .message-item__time, .friend-message-wrap .message-item__time {
  min-width: 10%;
  color: #7d7d7d;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.friend-message-wrap .container-inline {
  background: #fff;
  margin-left: inherit;
  margin-right: auto;
}
.friend-message-wrap .container-inline::before {
  border-top-color: #fff;
  right: inherit;
  left: -19px;
  transform: rotate(89deg);
}
.friend-message-wrap p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.messages-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.messages-footer form {
  width: 100%;
  padding: 0 10px;
}

.form-wrap {
  height: 8%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  align-items: center;
  padding: 7px 0;
}

.fa-smile-wink {
  height: 40px;
  width: 40px;
}

.send-area-wrap {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-footer__send-area {
  height: 38px;
  width: 100%;
  border-radius: 20px;
  color: #333;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
  resize: none;
  background: #efefef;
  padding: 7px 20px;
  border: 1px solid #efefef;
}
.messages-footer__send-area:focus {
  outline: none;
  border-color: #ef314c;
}
.messages-footer__send-area::placeholder {
  text-align: center;
}

.button-send-wrap {
  height: 100%;
  min-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-footer__button-send {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #333;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  border-radius: 16px;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.17);
}
.messages-footer__button-send:focus {
  outline: none;
  background: #ef314c;
  box-shadow: none;
}

.messages-preloader {
  display: none;
}

.messages-preloader__title {
  font-size: 1.1rem;
  font-family: "La Belle", "Aurore", cursive;
  font-weight: italic;
  color: black;
}

@media (min-width: 996px) {
  .messages-preloader {
    display: block;
  }

  .messages-preloader__title {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .messages-text {
    margin-bottom: 10px;
  }

  .messages-footer {
    position: relative;
  }

  .messages-footer__send-area {
    color: #333;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    padding: 7px 20px;
  }
  .messages-footer__send-area::placeholder {
    padding-top: 5px;
    text-align: center;
  }
}
.wrapOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/jschat/design/img/bg-messages.jpg);
  background-position: center;
  background-size: contain;
  z-index: 50;
}

.authorisation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(86,164,251);
background: radial-gradient(circle, rgba(86,164,251,1) 2%, rgba(157,198,245,1) 100%);

  overflow: auto;
}

.sign-in-up-form {
  position: relative;
  height: 510px;
  width: 380px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  letter-spacing: 1px;
  background-color: #fff;
  opacity: 0.85;
}

.form-tabs {
  width: 300px;
  margin: 55px auto;
  position: relative;
  border-radius: 30px;
  background: #ffffff;
  border: solid 0.5px rgba(91, 128, 93, 0.73);
}
.form-tabs:hover {
  box-shadow: 0 0 4px 1px rgba(91, 128, 93, 0.73);
}

.form-tabs__slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, #015d53, #ce5e22);
  border-radius: 30px;
  transition: 0.6s;
  box-shadow: 0 0 5px 2px rgba(91, 128, 93, 0.73);
  opacity: 1;
}

.form-tabs__btn {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 30px;
  outline: none;
  font-size: 1rem;
  font-family: "Hind Guntur", "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: black;
  text-transform: uppercase;
  transition: 0.9s;
}

.form-tabs__btn_register {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.form-tabs__btn_sign-in {
  color: #ECEFF1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.form-login {
  top: 0;
  left: 0;
  margin: 60px 30px;
  transition: 0.9s;
}

.form-register {
  top: -259px;
  right: 400px;
  margin: 60px 30px;
  transition: 0.9s;
}

.credentials-form-item {
  position: relative;
  margin-bottom: 32px;
}

.credentials-form-item__checkbox {
  margin: 0 auto 20px;
  font-size: 0.8rem;
  font-family: "Hind Guntur", "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: #9e9e9e;
}

.credentials-form-item_input {
  display: none;
}

.credentials-form-item_label {
  cursor: pointer;
}
.credentials-form-item_label span {
  padding-left: 5px;
}
.credentials-form-item_label::before {
  position: absolute;
  left: -26px;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ce5e22;
  transition: 0.7s;
}
.credentials-form-item_label::after {
  position: absolute;
  left: -26px;
  content: "";
  height: 12px;
  width: 24px;
  border-radius: 30px;
  border: solid 0.5px rgba(91, 128, 93, 0.73);
}

.credentials-form-item_input:checked + .credentials-form-item_label:before {
  left: -15px;
  background: #015d53;
  transition: 0.7s;
}

.credentials-form-item_input:checked + .credentials-form-item_label:after {
  border: solid 0.5px rgba(91, 128, 93, 0.73);
  transition: 0.7s;
}

.credentials-form-item__text {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  font-size: 1rem;
  font-family: "Hind Guntur", "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: black;
  outline: none;
  transition: 0.3s;
  text-overflow: ellipsis;
}
.credentials-form-item__text:hover {
  border-bottom: 1px solid #1a73a8;
}
.credentials-form-item__text:focus, .credentials-form-item__text:not(:placeholder-shown) {
  border-bottom: 1px solid #015d53;
}
.credentials-form-item__text:focus ~ .form__label, .credentials-form-item__text:not(:placeholder-shown) ~ .form__label {
  top: -18px;
  font-size: 12px;
  color: #015d53;
}

.form__label {
  position: absolute;
  left: 15px;
  top: 0;
  color: #9e9e9e;
  transition: 0.3s;
}
.form__label .fa {
  margin-right: 5px;
}

.form__eye {
  position: absolute;
  right: 0;
  top: 0;
}
.form__eye .func {
  cursor: pointer;
}
.form__eye .func.disabled {
  cursor: not-allowed;
}
.form__eye .hide {
  display: none;
}

.credentials-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  width: 60%;
  height: 35px;
  border-radius: 20px;
  border: none;
  background: radial-gradient(circle, rgba(16,57,251,1) 0%, rgba(86,167,251,1) 100%);

  opacity: 1;
  font-size: 1rem;
  font-family: "Hind Guntur", "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(91, 128, 93, 0.73);
  transition: 0.3s;
}

.credentials-form__btn[disabled] {
  opacity: 0.5;
  box-shadow: none;
}

.modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 16px #ccc;
  z-index: 99;
}

.modal-header {
  min-height: 15%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
}

.header{
  background-color: #61BCFA;
}

.header-title {
  text-align: center;
  font-size: 1.7rem;
  color: #015d53;
  font-weight: bold;
}

.modal-body {
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;
  font-family: "Fira Mono", "Droid Sans Mono", monospace, monospace;
}
.modal-body p:last-child {
  font-size: 3rem;
  color: red;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 20%;
}

.modal-footer button {
  width: 110px;
  height: 35px;
  margin-bottom: 10%;
  border-radius: 20px;
  border: none;
  background: radial-gradient(circle, rgba(16,57,251,1) 0%, rgba(86,167,251,1) 100%) ;
  opacity: 1;
  font-size: 1rem;
  font-family: "Hind Guntur", "Proxima Nova", "Arial", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(91, 128, 93, 0.73);
  transition: 0.3s;
}

@media (min-width: 996px) {
  .modal-wrap {
    height: 600px;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
  }

  .modal-header {
    min-height: 60px;
  }

  .modal-body {
    font-size: 1.1rem;
  }

  .modal-footer {
    padding-bottom: 40px;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  animation-delay: 1s;
}

.item-1 {
  width: 20px;
  height: 20px;
  background: #3999FF;
  border-radius: 50%;
  background-color: #56A8FF;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-1:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #56A8FF;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 200ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item-2 {
  width: 20px;
  height: 20px;
  background: #3999FF;
  border-radius: 50%;
  background-color: #3999FF;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-2:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3999FF;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 400ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item-3 {
  width: 20px;
  height: 20px;
  background: #3999FF;
  border-radius: 50%;
  background-color: #3080D6 ;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-3:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3080D6;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 600ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item-4 {
  width: 20px;
  height: 20px;
  background: #3999FF;
  border-radius: 50%;
  background-color: #2A6FBA;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-4:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2A6FBA;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 800ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.item-5 {
  width: 20px;
  height: 20px;
  background: #3999FF;
  border-radius: 50%;
  background-color: #2666AB;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.item-5:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2666AB;
  opacity: 0.7;
  animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 1000ms;
  transition: 0.5s all ease;
  transform: scale(1);
}

.avatar {
  position: relative;
}
.avatar img {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
}

.avatar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  flex-basis: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  background: #333;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid #333;
  text-transform: uppercase;
  border-radius: 50%;
  margin-right: 15px;
}
.avatar-item.status_online {
  color: #71bf23;
}
.avatar-item.status_offline {
  color: #ef314c;
}

.header-avatar_wrap {
  display: flex;
  align-items: center;
}

.header-avatar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  flex-basis: 39px;
  margin: 0 auto;
  flex-shrink: 0;
  flex-grow: 0;
  background: #333;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid #333;
  text-transform: uppercase;
  border-radius: 50%;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.17);
}

/*# sourceMappingURL=style.css.map */
